<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='2.png') }}" type="image/x-icon">

</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    <div class="container">
        <h1>About Us</h1>
        <h1><img src="{{ url_for('static', filename='1.jpeg') }}"> </h1>

        <h2>From the Data Miner Developers</h2>
        <p>We are dedicated to providing you with the most comprehensive and diverse datasets to fuel your data science and machine learning projects. Our commitment is to empower researchers and students with the resources they need to succeed. Thank you for choosing Data Miner as your data source for knowledge and innovation.</p>

        <p>Data Miner is a comprehensive resource for students and researchers in the field of data science and machine learning. It offers a wide variety of datasets in Excel and CSV formats, serving as a one-stop destination for diverse data categories. Whether you're a novice or an experienced professional, Data Miner provides the data you need to enhance your academic and research projects.</p>

        <p>The available datasets span a range of topics, including demographic data, financial data, educational data, energy data, natural calamity data, and more. Data Miner is committed to expanding its offerings, and while some categories may not be available yet, it promises to broaden its dataset collection in the future.</p>

        <p>Whether you're working on financial analysis, educational research, energy-related projects, or disaster risk assessment, Data Miner's diverse datasets are here to support your data-driven projects. Start your data mining journey with Data Miner today and unlock the power of data for your academic and research endeavors. Happy data mining!</p>

        <h2>Contact Us</h2>
        <p>If you have any questions or inquiries, please feel free to get in touch with us. You can send an email to <a href="mailto:datamiiner@gmail.com">datamiiner@gmail.com</a>. We'll be happy to assist you with your queries.</p>
    </div>
</body>
</html>
